<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Proc_Fact_CP_Factoraje.My.MySettings.Factor100ConnectionString" connectionString="Data Source=SERVER-RAID\;Initial Catalog=Factor100;User ID=User_PRO;Password=User_PRO2015" providerName="System.Data.SqlClient"/>
        <add name="Proc_Fact_CP_Factoraje.My.MySettings.WEB_FinagilConnectionString" connectionString="Data Source=SERVER-RAID\;Initial Catalog=WEB_Finagil;User ID=User_PRO;Password=User_PRO2015" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
